/*
0 - 600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
1200 - 1800px: is where our normal styles apply
1800px +: Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-esktop

ORDER: Base + typography > general layout + grid > page layout > components

1em= 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 1;
    transform: translate(0); }
  50% {
    opacity: .5;
    transform: translateX(-1.25rem); }
  100% {
    opacity: 0;
    transform: translateX(-2.5rem); } }

@keyframes moveInBottom {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(90deg); }
  100% {
    opacity: 0;
    transform: translate(-50%, 2rem) rotate(90deg); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/*
$('.crossRotate').on('click', function(){
  $(this).toggleClass('active');
});
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  overflow-x: hidden;
  /* @include respond(tab-land){     //width < 1200?
        font-size: 56.25%;      //1rem = 9px, 9/16 = 56.25%
    }
    
    @include respond(tab-port){     // width < 900?
        font-size: 50%;         //1rem = 8px, 8/16 = 50%
    }

    @include respond(big-desktop){
        font-size: 75%;         //1rem = 12px, 12/16 = 75%
    }*/ }

body {
  box-sizing: border-box;
  /*@include respond(tab-port){
        padding: 0;         
    }*/ }

body {
  font-family: "Merriweather", serif;
  line-height: 1.7;
  color: #fff; }

.heading-section {
  position: relative;
  text-align: center; }
  .heading-section .title-primary {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #feb960; }
    .heading-section .title-primary::before {
      display: block;
      content: "";
      height: 12.3rem;
      background-color: #feb960;
      width: 2px;
      margin: 0 auto 2.7rem; }
    .heading-section .title-primary--left {
      margin-bottom: 1rem; }
      .heading-section .title-primary--left::before {
        margin: 0 0 2.5rem 0; }
  .heading-section .title-secondary {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-size: 4rem;
    padding: 4rem 15% 11.5rem; }
    .heading-section .title-secondary--left {
      font-size: 5.5rem;
      line-height: 7rem;
      font-weight: 100;
      padding: 0;
      text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); }
  .heading-section--portfolio {
    position: absolute;
    top: 15rem;
    left: 0;
    text-align: left; }

.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  padding: 3px;
  transition: all .2s; }

.btn-text:link, .btn-text:visited {
  color: #fff;
  display: inline;
  text-decoration: none;
  text-transform: uppercase;
  padding: 3px;
  font-size: 1.4rem;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600; }

.btn-text:hover {
  background-color: transparent;
  color: #f7ac53;
  transition: color .5s ease-in-out; }

.btn-text:active {
  transform: translateY(0); }

.btn-text span {
  color: #f7ac53; }

.btn-text--after:link, .btn-text--after:visited {
  color: #fff;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 3px;
  font-size: 1.4rem;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600; }

.btn-text--after:hover {
  background-color: transparent;
  color: #f7ac53;
  transition: color .5s ease-in-out; }

.btn-text--after:active {
  transform: translateY(0); }

.btn-text--after::after {
  display: block;
  content: "";
  height: 12.6rem;
  background-color: #feb960;
  width: 3px;
  margin: 2.5rem 0 0 0; }

.btn-text--after span {
  color: #f7ac53; }

.btn-arrow {
  color: #f7ac53;
  font-size: 3rem;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg); }
  .btn-arrow:hover {
    transform: translate(-50%, -50%) rotate(90deg); }

.btn-orange, .btn-orange:link, .btn-orange:visited {
  font-size: 1.7rem;
  color: #000;
  border: none;
  text-transform: uppercase;
  background-color: #f7ac53;
  padding: 1.5rem 4rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600; }

.btn-orange:focus {
  outline: none; }

.btn-orange:hover {
  background-color: #fec479;
  cursor: pointer;
  transition: background .4s linear; }

.contact-data {
  width: 75rem;
  margin: 0 auto; }
  .contact-data__logo {
    display: inline-block;
    vertical-align: top; }
  .contact-data__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-bottom: 2rem; }
  .contact-data__office {
    display: inline-block; }
    .contact-data__office--ca {
      margin: 0 5rem; }
    .contact-data__office--ny {
      margin: 0 3rem; }
    .contact-data__office--other {
      vertical-align: top;
      margin-left: 4rem; }
  .contact-data__paragraph {
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    color: #bbbbbb; }
  .contact-data__mail {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    color: #bbbbbb; }
  .contact-data .contact-icons {
    margin-top: 2rem; }
    .contact-data .contact-icons__item:not(:last-child) {
      margin-right: .75rem; }

.feedback {
  width: 75rem;
  height: 38rem;
  margin: 0 auto; }
  .feedback .single-feedback {
    background-color: #181818; }
    .feedback .single-feedback__img {
      width: 7.5rem;
      height: 7.5rem;
      display: block;
      background-color: #919191;
      margin: 0 auto 5rem; }
    .feedback .single-feedback__opinion {
      margin-bottom: 5rem;
      padding: 0 6rem;
      font-family: "Merriweather", serif;
      font-size: 1.7rem;
      text-align: center;
      color: #bbbbbb; }
    .feedback .single-feedback__group {
      text-align: center; }
      .feedback .single-feedback__group::before {
        display: block;
        content: "";
        margin: 0 10rem;
        border-bottom: 1px solid white; }
    .feedback .single-feedback__signature-first {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 1.4rem;
      color: #feb960;
      text-transform: uppercase;
      background-color: #181818;
      display: inline;
      padding: 1rem 5rem; }
    .feedback .single-feedback__signature-second {
      font-family: "Open Sans", sans-serif;
      font-size: 1.3rem; }

.contact-form {
  width: 75rem;
  margin: 0 auto 12rem;
  background-color: #181818;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); }

.form {
  padding: 5.5rem 0;
  text-align: center; }
  .form__group {
    position: relative; }
    .form__group:not(:last-child) {
      margin-bottom: 2rem;
      width: 50%;
      display: inline-block;
      position: relative; }
    .form__group-big {
      width: 87.5%;
      display: block;
      margin: 3rem auto 3rem;
      position: relative; }
      .form__group-big .form__input {
        width: 100%; }
      .form__group-big .form__label {
        left: 0; }
  .form__input {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-size: 1.4rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px groove #fff;
    width: 77.5%;
    display: block;
    padding: 2.5rem 0 1.5rem;
    margin: 0 auto; }
    .form__input:focus, .form__input:valid {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #f7ac53; }
      .form__input:focus ~ .form__label, .form__input:valid ~ .form__label {
        color: #f7ac53;
        top: 0;
        font-size: 1.1rem;
        font-weight: 700; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #55c57a; }
  .form__label {
    position: absolute;
    top: 1.5rem;
    left: 4rem;
    color: #fff;
    font-size: 1.4rem;
    text-transform: uppercase;
    transition: all .5s; }

.owl-carousel {
  height: 100% !important;
  margin-bottom: 3.75rem; }

.owl-stage-outer {
  height: 100%; }

.owl-stage {
  height: 100%; }

.owl-item {
  width: 100%;
  height: 100%; }

.item {
  width: 100%;
  height: 100%;
  background-color: #919191; }

.owl-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .owl-nav .owl-prev {
    color: transparent !important;
    width: 100%;
    height: 100%; }
    .owl-nav .owl-prev span {
      display: none; }
  .owl-nav .owl-next {
    display: none; }

.owl-dots {
  text-align: right;
  width: auto;
  margin-top: 4.5rem;
  margin-left: auto; }

.section-portfolio .owl-dots {
  width: 20%; }

.owl-dot {
  height: .5rem;
  width: 1.5rem;
  display: inline-block;
  background: #5c5c5c !important;
  margin-left: 2.5rem; }

.owl-dot.active {
  background: #feb960 !important; }

#feedback-slider .owl-dots {
  text-align: center; }
  #feedback-slider .owl-dots .owl-dot {
    margin: 0 1.25rem;
    width: 3rem;
    margin-left: 3rem; }

.partners {
  width: 100%;
  margin-bottom: 10rem; }
  .partners__item {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
    .partners__item:not(:last-child) {
      margin-right: 7.5rem; }
    .partners__item:last-child {
      -webkit-filter: contrast(0%);
      filter: contrast(0%); }

.project-active .portfolio-item {
  padding: 15rem 0;
  position: relative; }
  .project-active .portfolio-item__img {
    width: 80rem;
    height: 60rem;
    background-color: #919191;
    margin: 0 auto 5rem; }
  .project-active .portfolio-item__links {
    position: absolute;
    bottom: 20rem;
    right: 0;
    text-align: left; }

.project-slides {
  display: none;
  width: 95rem;
  height: 90rem;
  margin: 0 auto;
  padding: 15rem 0; }

.project-details {
  display: none;
  width: 100%;
  height: 90rem;
  margin: 0 auto;
  padding: 15rem 0;
  text-align: center; }
  .project-details .details {
    background-image: linear-gradient(90deg, #202020 0%, #202020 52%, #919191 52%, #919191 100%);
    margin-bottom: 3.5rem;
    text-align: left; }
    .project-details .details::before {
      display: block;
      content: '';
      border: 1px solid #f7ac53;
      width: 13rem; }
    .project-details .details::after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      border-left: 2px solid #f7ac53;
      height: 13rem; }
    .project-details .details-panel {
      width: 52%;
      padding: 5rem; }
    .project-details .details__title {
      font-family: "Merriweather", serif;
      font-weight: 100;
      font-size: 4rem;
      line-height: 4.5rem;
      margin-bottom: 2rem; }
    .project-details .details__subtitle {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      color: #feb960;
      font-size: 1.4rem;
      text-transform: uppercase;
      margin-bottom: 4rem; }
      .project-details .details__subtitle span {
        color: #fff; }
    .project-details .details__description {
      font-family: "Open Sans", sans-serif;
      font-size: 1.4rem;
      color: #bbbbbb;
      margin-bottom: 3rem; }

.profil-list {
  margin: 1.5rem 0 9rem; }
  .profil-list-box {
    display: inline-block;
    width: 49%;
    margin-top: 3.5rem; }
    .profil-list-box__icon {
      display: inline-block;
      height: 1.6rem;
      margin-right: 1rem; }
    .profil-list-box__text {
      display: inline-block;
      font-size: 1.5rem;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      vertical-align: bottom; }

.active-site {
  display: block; }

.service-item {
  display: none; }

.services {
  width: 101rem;
  margin: 0 auto;
  padding-bottom: 14rem; }
  .services-box {
    display: inline-block;
    width: 33.333%; }
    .services-box__icon {
      padding-bottom: 3.5rem; }
    .services-box__title {
      padding-bottom: 2rem;
      font-family: "Merriweather", serif;
      font-size: 3rem;
      font-weight: 300; }
    .services-box__text {
      width: 75%;
      padding-bottom: 3rem;
      color: #bbbbbb;
      line-height: 2rem;
      font-family: "Open Sans", sans-serif; }

.image-box {
  position: relative;
  margin: 1.25rem 0; }
  .image-box__title {
    position: absolute;
    top: 15rem;
    right: -1.4rem;
    color: #000;
    background-color: #fff;
    padding: 1rem 3.5rem;
    font-size: 3rem; }
  .image-box__arrow {
    z-index: 200;
    position: absolute;
    bottom: 3rem;
    left: 2rem;
    line-height: 0; }
    .image-box__arrow:hover {
      animation: moveInRight .5s linear;
      animation-iteration-count: infinite; }

.description-box {
  position: relative; }
  .description-box__heading-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
    text-transform: uppercase; }
    .description-box__heading-title:before {
      display: block;
      content: "";
      height: 12.6rem;
      background-color: #feb960;
      width: 3px;
      margin-bottom: 2rem; }
  .description-box__paragraph {
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    color: #bbbbbb;
    margin-top: 3.5rem; }

.start {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 40%; }
  .start__text {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-size: 5.5rem;
    padding: 5.5rem;
    position: relative;
    border: 1px solid #fff; }
    .start__text span {
      color: #f7ac53; }
  .start__nav {
    margin-top: 3rem;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    font-family: "Open Sans", sans-serif;
    font-size: 1.3rem; }
    .start__nav li {
      display: inline;
      padding: 0 0 0 1rem; }
      .start__nav li:not(:last-child) {
        border-right: 1px solid #f7ac53;
        padding: 0 1rem; }
  .start__arrow:hover {
    animation: moveInBottom .5s linear;
    animation-iteration-count: infinite; }

.team-members::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #181818;
  z-index: 1; }

.team-member {
  width: 25%;
  display: inline-block;
  min-height: 32rem;
  vertical-align: bottom;
  border: 1px solid #202020; }
  .team-member__image {
    display: block;
    margin: 5rem auto 2.5rem;
    width: 12rem;
    height: 12rem;
    background-color: #d5d5d5;
    border-radius: 100px; }
  .team-member__name {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    color: #feb960;
    text-transform: uppercase; }
  .team-member__position {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1.3rem;
    font-weight: bold; }
  .team-member__description {
    display: none;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    color: #bbbbbb; }
  .team-member--active {
    position: relative; }
    .team-member--active::before {
      display: block;
      content: '';
      border: 1px solid #f7ac53;
      width: 6rem; }
    .team-member--active::after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 1px;
      z-index: 2;
      border-left: 2px solid #f7ac53;
      height: 6rem; }
    .team-member--active .team-member__image {
      display: inline-block;
      vertical-align: top;
      margin: 1rem 0 1.5rem 1rem;
      width: 4rem;
      height: 4rem;
      background-color: #d5d5d5;
      border-radius: 60px; }
    .team-member--active .team-member__name {
      text-align: left;
      display: inline;
      line-height: 2.5rem;
      position: absolute;
      top: 6.5rem;
      left: 2.5rem;
      writing-mode: vertical-rl;
      margin: .25rem; }
    .team-member--active .team-member__position {
      text-align: left;
      display: inline;
      line-height: 2.5rem;
      position: absolute;
      top: 6.5rem;
      left: .5rem;
      writing-mode: vertical-rl;
      margin: .25rem; }
    .team-member--active .team-member__description {
      display: inline-block;
      width: 71%;
      margin: .75rem .75rem .75rem 2rem;
      line-height: 2.5rem; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  height: 100%;
  position: relative; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2*6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3*6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2*6rem); }

.navigation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .navigation__burger {
    display: inline-block;
    width: 3rem;
    cursor: pointer; }
    .navigation__burger-item {
      width: 3rem;
      height: .5rem;
      background-color: white;
      margin: .6rem 0;
      transition: .3s; }
  .navigation__nav {
    display: none; }

.active-menu {
  top: 82.5%;
  display: block; }
  .active-menu .navigation__burger {
    display: block;
    margin: 0 auto; }
    .active-menu .navigation__burger-item:first-child {
      transform: rotate(-45deg) translate(-8px, 6px); }
    .active-menu .navigation__burger-item:nth-child(2) {
      opacity: 0; }
    .active-menu .navigation__burger-item:last-child {
      transform: rotate(45deg) translate(-9px, -8px); }
  .active-menu .navigation__nav {
    display: block;
    animation: moveInTop .5s ease-in; }
  .active-menu .navigation__list {
    display: flex;
    background: #181818;
    color: #fff;
    list-style-type: none; }
  .active-menu .navigation__item {
    white-space: nowrap;
    padding: 1rem 2rem; }
  .active-menu .navigation__link {
    font-family: "Open Sans";
    font-size: 2rem;
    line-height: 2.5rem;
    color: #fff;
    text-decoration: none;
    transition: color .3s linear; }
    .active-menu .navigation__link:focus, .active-menu .navigation__link:hover {
      text-decoration: none;
      color: #feb960; }

.header {
  width: 100%;
  position: absolute;
  bottom: 4%;
  height: 65px;
  z-index: 100; }
  .header__logo-box {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #f7ac53;
    line-height: 0; }
  .header__logo {
    height: 4.5rem; }
  .header__btn-box {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.4rem; }

.section-start {
  height: 100vh;
  width: 100%;
  background-image: radial-gradient(rgba(32, 32, 32, 0.8), rgba(24, 24, 24, 0.8)), url(../img/bg-main.jpg);
  background-size: cover; }

.section-services {
  background-color: #202020; }

.section-portfolio {
  background-color: #000;
  min-height: 95.3rem; }

.section-testimonials {
  background-color: #202020;
  min-height: 112.5rem; }

.section-team {
  background-color: #181818;
  min-height: 110rem; }

.section-contact {
  background-color: #353535;
  min-height: 115.3rem; }
