.header{
    width: 100%;
    position: fixed;
    display: none;
    bottom: 4%;
    left: 0;
    z-index: 100;
    
    &__logo-box{
        float: left;
        color: $color-primary;
        line-height: 0;
    }

    &__logo{
        height: 4.5rem;
    }

    &__btn-box{
        float: right;
        @include robotoMedium;
        font-size: 1.4rem;
    }
}