.header{
    width: 100%;
    position: fixed;
    bottom: 5%;
    left: 0;
    z-index: 100;
    
    &__logo-box{
        float: left;
        display: inline;
        color: $color-primary;
    }

    &__logo{
        height: 3rem;
    }

    &__btn-box{
        float: right;
        display: inline;
    }
}