.navigation{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    &__burger{
        display: inline-block;
        width: 3rem;
        cursor: pointer;
        
        &-item{
            width: 3rem;
            height: .5rem;
            background-color: white;
            margin: .6rem 0;
            transition: .3s;
        }
    }

    &__nav{
        display: none;
    }
}



.active-menu{
    top:82.5%;
    display: block;  
    
    .navigation{
        
        &__burger{
            display: block;
            margin: 0 auto;

            &-item{                
                &:first-child{
                    transform: rotate(-45deg) translate(-8px, 6px);                        
                }
                &:nth-child(2){
                    opacity: 0;
                }
                &:last-child{
                    transform: rotate(45deg) translate(-9px, -8px);
                }
            }
        }
        &__nav{
            display: block;
            animation: moveInTop .5s ease-in;
        }
        &__list{
            display: flex;
            background: $color-black-2;
            color: $color-white;
            list-style-type: none;
        }
        &__item{
            white-space: nowrap;            
            padding: 1rem 2rem;
        }
        &__link{
            font-family: "Open Sans";
            font-size: 2rem;
            line-height: 2.5rem;
            color: $color-white;
            text-decoration: none;
            transition: color .3s linear;

            &:focus, &:hover{
                text-decoration: none;
                color: $color-primary-light;
            }
        }
    }      
}