@mixin clearfix{
    &::after{
        content: "";
        clear: both;
        display: table;
    }
}

@mixin absCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin robotoMedium{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

@mixin openSansSemiBold{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

@mixin paragraph{
    font-family: $font-primary;
    font-size: 1.4rem;
    color: $font-color-grey;
}

//Media query manager

/*
0 - 575px: Phone
576 - 768px: Tablet sm
769 - 991: Tablet md
992 - 1199: Tablet lg
1200px +: Normal size

*/

@mixin respond($breakpoint) {
    @if $breakpoint == xs{
        @media only screen and (max-width: 36em){ @content };     //575px
    }
    
    @if $breakpoint == sm{
        @media only screen and (max-width: 48em){ @content };     //768px
    }

    @if $breakpoint == md{
        @media only screen and (max-width: 62em){ @content };     //992px
    }

    @if $breakpoint == lg{
        @media only screen and (max-width: 74.9375em){ @content };     //1200px
    }
}