//COLORS
$color-primary: #f7ac53;
$color-primary-light: #feb960;

$color-black-1: #202020;
$color-black-2: #181818;

$color-grey: #d5d5d5; 
$color-white: #fff;

//GRID
$grid-width: 90rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//FONT
$default-font-size: 1.6rem;