//COLORS
$color-primary: #f7ac53;
$color-primary-light: #feb960;

$color-black-1: #202020;
$color-black-2: #181818;
$color-black: #000;
$line-color: #474747;

$color-grey: #d5d5d5; 
$color-white: #fff;
$dots-color: #5c5c5c;
$image-background-color: #919191;

//GRID
$grid-width: 114rem;
$grid-width-small: 101rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//FONT
$default-font-size: 1.6rem;
$font-color-grey: #bbbbbb;

$default-font: 'Merriweather', serif;
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Roboto', sans-serif;