.btn{
    &:link,
    &:visited{
        display: inline-block;
        text-decoration: none;
        padding: 3px;
        transition: all .2s;
    }
}

.btn-text{
    &:link,
    &:visited{
        color: $color-white;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        padding: 3px;
        font-size: 1.4rem;
        font-weight: 100;
        transition: all .2s;
        @include openSansSemiBold;
    }

    &:hover{
        background-color: transparent;
        color: $color-white;
        transform: translateY(-2px);
    }

    &:active{
        transform: translateY(0);
    }

    span{
        color: $color-primary;
    }

    &--after{
        &:link,
        &:visited{
            color: $color-white;
            display: block;
            text-decoration: none;
            text-transform: uppercase;
            padding: 3px;
            font-size: 1.4rem;
            font-weight: 100;
            transition: all .2s;
            @include openSansSemiBold;
        }

        &:hover{
            background-color: transparent;
            color: $color-white;
            transform: translateY(-2px);
        }

        &:active{
            transform: translateY(0);
        }
        &::after{
            display: block;
            content: "";
            height: 12.6rem;
            background-color: $color-primary-light;
            width: 3px;
            margin: 2.5rem 0 0 0;
        }
    }
}

.btn-arrow{
    color: $color-primary;
    font-size: 2rem;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);

    &:hover{
        transform: translate(-50%, -50%) rotate(90deg);
    }
}

.btn-orange{
    &:link,
    &:visited{
        font-size: 1.7rem;
        color: $color-black;
        text-transform: uppercase;
        background-color: $color-primary-light;
        padding: 1.5rem 4rem;
        @include openSansSemiBold;
    }  
}