.btn{
    &:link,
    &:visited{
        display: inline-block;
        text-decoration: none;
        padding: 3px;
        transition: all .2s;
    }
}

.btn-text{
    &:link,
    &:visited{
        color: $color-white;
        display: inline;
        text-decoration: none;
        text-transform: uppercase;
        padding: 3px;
        font-size: 1.4rem;
        font-weight: 100;
        @include openSansSemiBold;
    }

    &:hover{
        background-color: transparent;
        color: $color-primary;
        transition: color .5s ease-in-out;
    }

    &:active{
        transform: translateY(0);
    }

    span{
        color: $color-primary;
    }

    &--after{
        &:link,
        &:visited{
            color: $color-white;
            display: block;
            text-decoration: none;
            text-transform: uppercase;
            padding: 3px;
            font-size: 1.4rem;
            font-weight: 100;
            @include openSansSemiBold;
        }

        &:hover{
            background-color: transparent;
            color: $color-primary;
            transition: color .5s ease-in-out;
        }

        &:active{
            transform: translateY(0);
        }
        &::after{
            display: block;
            content: "";
            height: 12.6rem;
            background-color: $color-primary-light;
            width: 3px;
            margin: 2.5rem 0 0 0;
        }

        span{
            color: $color-primary;
        }
    }
}

.btn-arrow{
    color: $color-primary;
    font-size: 3rem;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);

    &:hover{
        transform: translate(-50%, -50%) rotate(90deg);
    }
}

.btn-orange{
    &, &:link, &:visited{
        font-size: 1.7rem;
        color: $color-black;
        border: none;
        text-transform: uppercase;
        background-color: $color-primary;
        padding: 1.5rem 4rem;
        @include openSansSemiBold; 
    }    
    &:focus{
        outline: none;
    }
    &:hover{
        background-color: lighten($color-primary-light, 5%);
        cursor: pointer;
        transition: background .4s linear;
    }
}