.contact-data{
    width: 75rem;
    margin: 0 auto;

    &__logo{
        display: inline-block;
        vertical-align: top;
    }

    &__title{
        @include openSansSemiBold;
        text-transform: uppercase;
        font-size: 1.4rem;
        margin-bottom: 2rem;
    }

    &__office{
        display: inline-block;

        &--ca{margin: 0 5rem;}
        &--ny{margin: 0 3rem;}
        &--other{
            vertical-align: top;
            margin-left: 4rem;
        }
    }

    &__paragraph{
        @include paragraph;
    }

    &__mail{
        text-decoration: none;
        @include paragraph;
    }

    .contact-icons{
        margin-top: 2rem;

        &__item{

            &:not(:last-child){
                margin-right: .75rem;
            }
        }
    }
}