.contact-data{
    width: 75rem;
    margin: 0 auto;
    @include respond(md){
        width: 90%;
        text-align: center;
        padding-bottom: 2rem;
    }

    &__logo-box{
        @include respond(md){
            display: none;
        }
    }
    &__logo{
        display: inline-block;
        vertical-align: top;
    }

    &__title{
        @include openSansSemiBold;
        text-transform: uppercase;
        font-size: 1.4rem;
        margin-bottom: 2rem;
    }

    &__office{
        display: inline-block;
        @include respond(md){
            width: 33%;
        }
        @include respond(xs){
            width: 80%;
            display: block;
            margin: 0 auto;
        }

        &--ca{
            margin: 0 5rem;
            @include respond(md){
                margin: 0;
            }
            @include respond(xs){
                margin: 0 auto;
            }
        }
        &--ny{
            margin: 0 3rem;
            @include respond(md){
                margin: 0;
            }
            @include respond(xs){
                margin: 0 auto;
            }
        }
        &--other{
            vertical-align: top;
            margin-left: 4rem;
            @include respond(md){
                margin: 0;
            }
            @include respond(xs){
                margin: 0 auto;
            }
        }
    }

    &__paragraph{
        @include paragraph;
    }

    &__mail{
        text-decoration: none;
        @include paragraph;
    }

    .contact-icons{
        margin-top: 2rem;

        &__item{

            &:not(:last-child){
                margin-right: .75rem;
            }
        }
    }
}