.contact-form{
    width: 75rem;
    margin: 0 auto 12rem;
    background-color: $color-black-2;
    box-shadow: 3px 3px 5px rgba($color-black, 0.3);
}

.form{
    padding: 5.5rem 0;
    text-align: center;

    &__group{
        position: relative;

        &:not(:last-child){
            margin-bottom: 2rem;
            width: 50%;
            display: inline-block;
            position: relative;
        }
        
        &-big{
            width: 87.5%;
            display: block;
            margin: 3rem auto 3rem;
            position: relative;
    
            .form{
                &__input{
                    width: 100%;
                }
                &__label{
                    left:0;
                }
            }
        }
    }
   
    &__input{
        font-family: $font-primary;
        color: $color-white;
        font-size: 1.4rem;
        background-color: transparent;
        border: none;
        border-bottom: 1px groove $color-white;
        width: 77.5%;
        display: block;
        padding: 2.5rem 0 1.5rem;
        margin: 0 auto;

        &:focus, &:valid{
            outline: none;
            box-shadow: 0 1rem 2rem rgba(black, .1);
            border-bottom: 3px solid $color-primary;

            ~ .form__label{
                color: $color-primary;
                top: 0;
                font-size: 1.1rem;
                font-weight: 700;
            }
        }

        &:focus:invalid{
            border-bottom: 3px solid $color-invalid;
        }
    }

    &__label{
        position: absolute;
        top: 1.5rem;
        left: 4rem;
        color: $color-white;
        font-size: 1.4rem;
        text-transform: uppercase;
        transition: all .5s;
    }
}