.partners{
    width: 100%;
    margin-bottom: 10rem;
    
    &__item{
        -webkit-filter: grayscale(100%); 
        filter: grayscale(100%);

        &:not(:last-child){
            margin-right: 7.5rem;
        }

        &:last-child{
            -webkit-filter: contrast(0%);
            filter: contrast(0%);
        }
    }
}