// Project active subsection //
.project-active{
    .portfolio-item{
        padding: 15rem 0;
        position: relative;
        @include respond(lg){
            padding: 7.5rem 0;
        }
        @include respond(md){
            padding: 0;           
        }
    
        &__img{
            width: 80rem;
            height: 60rem;
            background-color: $image-background-color;
            margin: 0 auto 5rem;
            @include respond(lg){
                width: 75rem;
                height: 55rem;
                margin: 0 auto;
            }
            @include respond(md){
                width: 60rem;
                height: 35rem;
                margin: 2.5rem auto;           
            }
            @include respond(sm){
                width: 100%;
            }
        }
    
        &__links{
            position: absolute;
            bottom: 20rem;
            right: 0;
            text-align: left;
            @include respond(lg){
                bottom: 7.5rem;
                right: -.5rem;
            }        
            @include respond(md){
                position: relative;
                text-align: center;  
                bottom: unset;
                right: unset;         
            }    
        }
    }
}

// Project slides subsection //
.project-slides {
    display: none;
    width: 95rem;
    height: 90rem;
    margin: 0 auto;
    padding: 15rem 0;
    @include respond(lg) {
        width: 80rem;
        height: 70rem;
        padding: 7.5rem 0 10rem;
    }
    @include respond(md) {
        width: 60rem;
        height: 60rem;
        padding: 12.5rem 0;
    }
    @include respond(sm) {
        width: 90%;
        margin: 0 auto;
    }
}

// Project details subsection //
.project-details{
    display: none;
    width: 100%;
    min-height: 90rem;
    margin: 0 auto;
    padding: 15rem 0;
    text-align: center;

    @include respond(lg){
        padding: 6.5rem 0 4.5rem;
        min-height: 70rem;
    } 

    @include respond(md){
        padding: 11.5rem 0 7.5rem;
        min-height: 58rem;               
    }

    .details{
        background-image: linear-gradient( 90deg, $color-black-1 0%, $color-black-1 52%, $image-background-color 52%, $image-background-color 100%);
        margin-bottom: 3.5rem;
        text-align: left;
        @include respond(md){
            background: $color-black-1;
            margin-bottom: 2.5rem;          
        }

        &::before{
            display: block;
            content: '';
            border: 1px solid $color-primary;
            width: 13rem;
            @include respond(md){
                width: 9rem;     
            }
        }

        &::after{
            display: block;
            content: '';
            position: absolute;
            top: 0;
            border-left: 2px solid $color-primary;
            height: 13rem;
            @include respond(md){
                height: 9rem;          
            }
        }

        &-panel{
            width: 52%;
            padding: 5rem;
            @include respond(lg){
                padding: 3rem;
            } 
            @include respond(md){
                padding: 2rem; 
                width: 100%;       
            }
        }

        &__title{
            font-family: $default-font;
            font-weight: 100;
            font-size: 4rem;
            line-height: 4.5rem;
            margin-bottom: 2rem;
            @include respond(md){
                font-size: 3rem;
                line-height: 3.75rem;
                margin-bottom: 1rem;         
            }
        }

        &__subtitle{
            @include openSansSemiBold;
            color: $color-primary-light;
            font-size: 1.4rem;
            text-transform: uppercase;
            margin-bottom: 4rem;
            @include respond(md){
                font-size: 1.3rem;
                margin-bottom: 2rem;           
            }

            span{
                color: $color-white;
            }

        }

        &__description{
            @include paragraph;
            margin-bottom: 3rem; 
            @include respond(lg){
                line-height: 2.3rem;
                margin-bottom: 2rem;
            } 
            @include respond(md){
                line-height: 2.2rem;           
            }
        }
    }
}