.active-site{
    display:block;
}

.service{
    &-image{
        width: calc(50% - 3rem);
        margin-right: 6rem;
        float: left;
        @include respond(sm){
            display: none;
        }
    }
    &-description{
        width: calc(50% - 3rem);
        float: left;
        @include respond(sm){
            width: 100%;
            text-align: center;
        }
    }
    &-item{
        display:none;

    }
}

.services{
    width: 101rem;
    margin: 0 auto;
    padding-bottom: 14rem;
    @include respond(lg){
        padding-bottom: 4.5rem;
    }

    &-box{
        display: inline-block;
        width: 33.333%;
        @include respond(sm){
            display: block;
            width: 50%;
            margin: 0 auto 3rem;
            text-align: center;
        }
        @include respond(xs){
            display: block;
            width: 100%;
            margin: 0 auto 3rem;
        }

        &__icon{
            padding-bottom: 3.5rem;
        }
    
        &__title{
            padding-bottom: 2rem;
            font-family: $default-font;
            font-size: 3rem;
            font-weight: 300;
        }
    
        &__text{
            width: 75%;
            padding-bottom: 3rem;
            color: $font-color-grey;
            line-height: 2rem;
            font-family: $font-primary;
            @include respond(sm){
                width: 100%;
            }
        }
    }
}

.image-box{
    position: relative;
    margin: 1.25rem 0;

    &__title{
        position: absolute;
        top: 15rem;
        right: 0;
        color: $color-black;
        background-color: $color-white;
        padding: 1rem 3.5rem;
        font-size: 3rem;
        @include respond(md){
            top: 12rem;
            padding: 1rem 2.5rem;
            font-size: 2.5rem;
            line-height: 2.8rem;
        }
    }

    &__img{
        width: 100%;
        height: auto;
    }
    
    &__arrow{
        z-index: 200;
        position: absolute;
        bottom: 3rem;
        left: 2rem;
        line-height: 0;
        
        &:hover{
            animation: moveInRight .5s linear;
            animation-iteration-count: infinite;
        }

        &-on-mobile {
            display: none;
            @include respond(sm){
                display: block;
                margin: 3rem auto;
            }
            &:hover{
                animation: moveInRight .5s linear;
                animation-iteration-count: infinite;
            }
        }
    }
}

.description-box{
    position: relative;

    &__heading-title{
        @include openSansSemiBold;
        font-size: 1.7rem;
        text-transform: uppercase;
        @include respond(md){
            font-size: 1.55rem;
            line-height: 2rem;               
        }

        &:before{
            display: block;
            content: "";
            height: 12.6rem;
            background-color: $color-primary-light;
            width: 3px;
            margin-bottom: 2rem;
            @include respond(lg){
                height: 9.5rem;
            }
            @include respond(md){
                height: 3.5rem;                
            }
            @include respond(sm){
                height: 5.5rem;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }

    &__paragraph{
        @include paragraph;
        margin-top: 3.5rem;
        @include respond(lg){
            margin-top: 2.5rem;
        }
        @include respond(md){
            margin-top: 1.5rem;
            line-height: 1.65rem;
            font-size: 1.3rem               
        }
        @include respond(sm){
            text-align: left;
        }
    }
}