.active-site{
    display:block;
}
.service-item{
    display:none;
}
.services{
    width: 101rem;
    margin: 0 auto;
    padding-bottom: 14rem;
    @include respond(lg){
        padding-bottom: 4.5rem;
    }

    &-box{
        display: inline-block;
        width: 33.333%;

        &__icon{
            padding-bottom: 3.5rem;
        }
    
        &__title{
            padding-bottom: 2rem;
            font-family: $default-font;
            font-size: 3rem;
            font-weight: 300;
        }
    
        &__text{
            width: 75%;
            padding-bottom: 3rem;
            color: $font-color-grey;
            line-height: 2rem;
            font-family: $font-primary;
        }
    }
}

.image-box{
    position: relative;
    margin: 1.25rem 0;

    &__title{
        position: absolute;
        top: 15rem;
        right: 0;
        color: $color-black;
        background-color: $color-white;
        padding: 1rem 3.5rem;
        font-size: 3rem;
        @include respond(md){
            top: 12rem;
            padding: 1rem 2.5rem;
            font-size: 2.5rem;
            line-height: 2.8rem;
        }
    }

    &__img{
        width: 100%;
        height: auto;
    }
    
    &__arrow{
        z-index: 200;
        position: absolute;
        bottom: 3rem;
        left: 2rem;
        line-height: 0;
        
        &:hover{
            animation: moveInRight .5s linear;
            animation-iteration-count: infinite;
        }
    }
}

.description-box{
    position: relative;

    &__heading-title{
        @include openSansSemiBold;
        font-size: 1.7rem;
        text-transform: uppercase;
        @include respond(md){
            font-size: 1.55rem;
            line-height: 2rem;               
        }

        &:before{
            display: block;
            content: "";
            height: 12.6rem;
            background-color: $color-primary-light;
            width: 3px;
            margin-bottom: 2rem;
            @include respond(lg){
                height: 9.5rem;
            }
            @include respond(md){
                height: 3.5rem;                
            }
        }
    }

    &__paragraph{
        @include paragraph;
        margin-top: 3.5rem;
        @include respond(lg){
            margin-top: 2.5rem;
        }
        @include respond(md){
            margin-top: 1.5rem;
            line-height: 1.65rem;
            font-size: 1.3rem               
        }
    }
}