.start{

    //transition: all 1.5s;

    &__heading{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 40%;
    }

    &__text{
        font-size: 3.5rem;
        font-weight: 100;
        padding: 2rem 3rem;
        position: relative;

       /* &::before,
        &::after {
            box-sizing: inherit;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
        }*/
        border: .5px solid $color-white;
        
        //animation-name: borderAnimation;
        //animation-duration: 2s;
        //animation-timing-function: linear;

        span{
            color: $color-primary;
        }
    }

    &__nav{
        margin-top: 2.5rem;
        text-transform: uppercase;
        text-decoration: none;
        list-style: none;
        
        li{
            display: inline;
            padding: 0 0 0 1rem;

            &:not(:last-child){
                border-right: 1px solid $color-primary;
                padding: 0 1rem;
            }
        }
    }
}
/*
.animated{
    transition: color .5s;

    &::before,
    &::after {
        border: 1px solid transparent;
        width: 0;
        height: 0;
    }

    &::before {
        top: 0;
        left: 0;
      }

    &::after {
    bottom: 0;
    right: 0;
    }
}*/