.start{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 40%;

    &__text{
        font-family: $default-font;
        font-weight: 300;
        font-size: 5.5rem;
        padding: 5.5rem;
        position: relative;
        border: 1px solid $color-white;

        span{
            color: $color-primary;
        }
    }

    &__nav{
        margin-top: 3rem;
        text-transform: uppercase;
        text-decoration: none;
        list-style: none;
        font-family: $font-primary;
        font-size: 1.3rem;
        
        li{
            display: inline;
            padding: 0 0 0 1rem;

            &:not(:last-child){
                border-right: 1px solid $color-primary;
                padding: 0 1rem;
            }
        }
    }
}