body{
    font-family: "Merriweather", serif;
    line-height: 1.7;
    color: $color-white;
}

.heading-section{
    position: relative;
    text-align: center;

    .title-primary{
        @include openSansSemiBold;
        font-size: 1.4rem;
        text-transform: uppercase;
        color: $color-primary-light;

        &::before{
            display: block;
            content: "";
            height: 12.3rem;
            background-color: $color-primary-light;
            width: 2px;
            margin: 0 auto 2.7rem;
        }

            &--left{
                margin-bottom: 1rem;

                &::before{
                    margin: 0 0 2.5rem 0;
                } 
            }
        }

    .title-secondary{
        font-family: $default-font;
        font-weight: 300;
        font-size: 4rem;
        padding: 4rem 15% 11.5rem; 

        &--left{
            font-size: 5.5rem;
            line-height: 7rem;
            font-weight: 100;
            padding: 0;
            text-shadow: 3px 3px 5px rgba($color-black, 0.3);
        }
    }

    &--portfolio{
        position: absolute;
        top: 15rem;
        left: 0;
        text-align: left;
    }
}