body{
    font-family: "Merriweather", serif;
    line-height: 1.7;
    color: $color-white;
}

.heading-section{
    position: relative;
    text-align: center;

    .title-primary{
        @include openSansSemiBold;
        font-size: 1.4rem;
        text-transform: uppercase;
        color: $color-primary-light;

        &::before{
            display: block;
            content: "";
            height: 12.3rem;
            background-color: $color-primary-light;
            width: 2px;
            margin: 0 auto 2.7rem;
            @include respond(lg){
                height: 9.3rem;
            }
            @include respond(md){
                height: 6.3rem;
            }
        }

            &--left{
                margin-bottom: 1rem;
                @include respond(md){
                    padding-top: 2.5rem;
                }

                &::before{
                    margin: 0 0 2.5rem 0;
                    @include respond(md){
                        display: none;
                    }
                } 
            }
        }

    .title-secondary{
        font-family: $default-font;
        font-weight: 300;
        font-size: 4rem;
        padding: 4rem 15% 11.5rem; 
        @include respond(lg){
            padding: 3rem 5% 5.5rem;
        }
        @include respond(md){
            padding: 2rem 5% 4.5rem;
            font-size: 3rem;
        }

        &--left{
            font-size: 5.5rem;
            line-height: 7rem;
            font-weight: 100;
            padding: 0;
            text-shadow: 3px 3px 5px rgba($color-black, 0.3);
        }
    }

    &--portfolio{
        position: absolute;
        top: 15rem;
        left: 0;
        text-align: left;
        @include respond(lg){
            top: 7.5rem;
        }
        @include respond(md){
            position: relative;    
            top: unset;
            left: unset;
            text-align: center;           
        }
    }
}